instance/
.webassets-cache
.env
.flaskenv

# ==========================================
# Python Web Applications & Virtual Environments
# ==========================================
venv/
.venv/
env/
ENV/
bin/
lib/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


