{% extends 'base.html' %}
{% block title %}multiplayer_mode{% endblock %}

{% block head %}
<!-- adding the boxicon cdn-->
<link href="https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

 <div class=" min-h-screen font-alata"><!--full height of the flex with alata font-->


    <div id="intial_load_content">
        <div class="flex items-center justify-between w-full px-4 py-8"> <!-- aligning the item of the  flex children as <cross_icon> <status bar>  <step_count>  in  cross-axis of the  page -->
             
            <i class="bx bx-chevron-left text-[#533B07] text-5xl px-3"></i>
            <i class="bx bx-cog text-[#533B07] text-4xl"></i>
        </div>
        
        <div class="relative flex items-center w-full flex-col gap-0.8 mt-[150px]">

            <h1 class="text-[#4D4D4C] text-2xl">Enter the player’s username</h1>
            <h3 class="text-[#BEBDBB]">This is the player you are playing with</h3>
  
            <input type="text" 
            id="inputText" 
            name="text" 
            placeholder="@ ViciousRegister02" 
            class=" my-[40px] w-full pl-4 pr-12 py-3 border border-gray-300 rounded-lg text-gray-900 placeholder-gray-400 focus:outline-none  focus:border-[#D7B66F] transition duration-150 ease-in-out "/>

        
    </div>



         
        <div class="flex items-center justify-center ">
            <button class="bg-[#D7B66F] w-[314px] h-[54px] rounded-full text-3xl text-[#FFFFFF] text-center " id="continueBtn" onclick="Continue()">Search</button>
        </div>
 </div>
    
    <!-- section for the  skeleton effect -->
     <div>

     </div id="continue_load_content">
        <h1 id="textContinue" class="hidden">Searching for players..</h1>
        <div class="max-w-sm w-full mx-auto p-4">
            <div class="animate-pulse flex space-x-4">
                
                <!-- Square Image/Icon Placeholder -->
                <div class="bg-gray-200 h-12 w-12 rounded-none"></div>
                
                <!-- Text Content Placeholders -->
                <div class="flex-1 space-y-4 py-1">
                <!-- Header Line -->
                <div class="h-4 bg-gray-200 rounded-none w-3/4"></div>
                
                <!-- Body Lines -->
                <div class="space-y-2">
                    <div class="h-3 bg-gray-200 rounded-none"></div>
                    <div class="h-3 bg-gray-200 rounded-none w-5/6"></div>
                </div>
                </div>
                
            </div>
        </div>



        </div>

        <script>
            function Continue(){
                let inputBox= document.getElementById('inputText');
                let continueBtn = document.getElementById('continueBtn');
                const initialDiv = document.querySelector('#intial_load_content');


                if(inputBox && inputBox.value){
                    alert('ok');
                    initialDiv.style.marginTop= "-90px";
                    continueBtn.style.display='none';
                    document.getElementById('textContinue').classList.remove('hidden');
                }
            }

        </script>
 {% endblock %}